@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <br /><br />
    <!--div container for image and caption-->
    <div class="polaroid">
        <img src="~/img/stuff.JPG" alt="stuff" style="width:100%">
        <div class="container">
            <p>1/20/2021</p>
        </div>
    </div>

    <!--information for the TA-->
    <p>
        I have a collage of my desk, my favorite sushi place, and my fuzzy slippers in this picture — all of which I enjoy immensely.
        This semester I want to develop my skills to make me marketable as a BYU graduate and allow me to make more money. I also wouldn't mind learning how to use AWS, but mostly I want to make more money. Learning AWS will probably help.
    </p>
    <br />

    <!--div container for Top 3 Jobs-->
    <div class="list">
        <p style="text-align: center;">Top 3 Jobs:</p>
        <ol>
            <li>Product Manager</li>
            <li>Business Consultant</li>
            <li>Data Analyst</li>
        </ol>
    </div>
    
</body>
